<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.14/vue.js"></script>
</head>

<body>
    <!-- 
        v-for指令
            1.用于展示列表数据
            2.语法v-for="(item1, item2) in xxx" :key="yyy"
            3.可遍历数组、对象、字符串（用的很少），指定次数（用的很少）
            
        面试题：react、vue中的key有什么作用（key的内部原理）
            1、虚拟DOM中key的作用：
                key是虚拟DOM的对象标识，当数据发生变化时，Vue会根据【新数据】生成【新的虚拟DOM】，
                随后Vue进行【新虚拟DOM】与【旧虚拟DOM】差异比较，比较规则如下：
                （1）、【旧虚拟DOM】中找到了与【新虚拟DOM】相同的key：
                        ①若虚拟DOM中的内容没改变，则直接使用之前的真实DOM
                        ②若虚拟DOM中的内容改变了，则生成新的真实DOM，随后替换掉页面中之前的真实DOM
                （2）、【旧虚拟DOM】中未找到与【新虚拟DOM】相同的key
                       创建新的真实DOM，随后渲染到页面
            2、用index作为key可能引发的问题：
                （1）、若对数据进行逆序添加、逆序删除等破坏顺序操作，会产生没有必要的真实DOM更新，界面没问题，但效率低
                （2）、如果结构中还包含输入类的DOM，还会产生错误的DOM更新，界面有问题
            3、开发中如何选择key：
                （1）、最好使用每条数据唯一标识作为key
                （2）、如果不存在破坏数据操作，仅用于渲染列表展示，可以使用index作为key
        -->         


    <!-- 準備好一個容器 -->
    <div id="root">
        <ul>
            <li v-for="(p, index) in persons" :key="index">{{p}} - {{index}}</li>
        </ul>
    </div>
    <script type="text/javascript">
        const v = new Vue({
            el: '#root',
            // 函數式簡化寫法
            data() {
                return {
                    persons: [
                        { name: '翟邦杰', age: '2' }
                    ]
                }
            }
        })
    </script>
</body>

</html>